* {
  box-sizing: border-box;
}

html {
  background-color: rgba(27, 68, 127, .25);
  font-family: "Arial", sans-serif, "Muli";
}

body {
  margin: 0;
}

header {
  display: flex;
  background-color: rgba(27, 68, 127, 1);
  padding: 1rem 1rem;
  background-image: linear-gradient(to bottom right, rgba(10, 20, 50, 1), rgba(27, 68, 127, 1));
}

header address {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
  color: rgba(100, 150, 200, 1);
}

a {
  text-decoration: none;
  color: rgba(3, 163, 223, 1);
}

header a, footer a {
  color: rgba(3, 163, 223, 1);
}

a:hover {
  text-decoration: underline;
  color: rgba(3, 163, 223, 1);
}

header a:hover {
  color: rgba(0, 175, 223, 1);
}

footer a:hover {
  color: rgba(0, 175, 223, 1);
}

/* Top Navigation Bar */
.topnav {
  display: flex;
  background-color: rgba(27, 68, 127, .25);
  border-top: 2px solid rgba(236, 183, 34, 1);
  flex-direction: row;
  flex-wrap: wrap;
}

.topnav h2 {
  color: rgba(236, 183, 34, 1);
  padding: 1rem;
  background-color: rgba(27, 68, 127, 1);
  border-radius: 10px;
}

.topnav h2:nth-child(1) {
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 1rem;
}

.topnav h2:nth-child(3) {
  margin-left: 2rem;
}

.topnav h2 a:hover {
  color: rgba(236, 183, 34, 1);
}

/* Main Section */
.classes-weekly iframe {
  background-color: rgba(27, 68, 127, 1);
  padding: 4px;
  border-radius: 10px;
}

.welcome {
  font-family: "Dancing Script", serif;
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  margin: 1rem 0rem;
  background-color: rgba(27, 68, 127, 1);
  border-radius: 10px;
}

.welcome a {
  color: rgba(236, 183, 34, 1);
  text-decoration: none;
}

main {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-column-gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

main .vidcontainer {
  text-align: center;
  background-color: rgba(27, 68, 127, .5);
  border-radius: 10px;
  padding: 1rem 0rem;
}

.section1 {
  margin-left: 4rem;
}

.section2 {
  grid-column-start: 2;
  margin-right: 2rem;
}

.instructor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(27, 68, 127, .5);
  border-radius: 50%;
  border: 20px solid rgba(27, 68, 127, .25);
}

/* Footer */
footer {
  background-color: rgba(68, 68, 68, 1);
  background-image: url(images/footerImage_flop.jpg);
  text-align: center;
  color: rgba(255, 255, 255, .75);
  padding: 2rem;
}

.footer-info {
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  padding: 1rem;
  margin: auto;
  width: 350px;
}

footer h6 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
