*{
box-sizing: border-box;
}

html {
  background-color: rgba(27, 68, 127, .25);
  font-family: "Arial", sans-serif, "Muli";
}

body {
    margin: 0;
}

header {
  display: flex;
  background-color: rgba(27, 68, 127, 1);
  padding: 1em 1em;
}

header address {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1em;
}

a {
  text-decoration: none;
  color: darkgreen;
}

/* Top Navigation Bar */
.topnav {
  display: flex;
  background-color: rgba(27, 68, 127, .25);
  border-top: 2px solid rgba(236, 183, 34, 1);
}

.topnav h2:nth-child(1) {
  margin-right: auto;
  padding-left: 1em;
}

.topnav h2:nth-child(3) {
  margin-left: auto;
  padding-right: 1em;
}

/* Main Section */

main {
  display: grid;
  padding-top: 1em;
  padding-bottom: 2em;
}

.section1 {
 margin-left: 2em;
}

.section2 {
  grid-column-start: 2;
  margin-right: 2em;
}
